<!--this is the baseball plant succulent web page-->
{% extends "index.html" %} 
{% block content %}
<!--redirects you home-->
<p style = "font-family: 'Courier New', Courier, monospace;">
    <a href="http://127.0.0.1:5000/succulents"><- succulents</a>
    </p>

<!--header-->
<h1 style = "color:slateblue;font-style: bold; font-family: 'Courier New', Courier, monospace;">
    baseball plant</h1>

    <!--paragraph-->
    <p style = "font-style: italic; font-family: 'Courier New', Courier, monospace;">
        (Euphorbia obesa)
        </p>
    <br>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        origin: Great Karoo
        </p>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        watering: water when soil is dry to touch
        </p>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        amount of sun: full sun
        </p>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        ideal temperature range: 40-95 F
        </p>


    <img src="https://3.bp.blogspot.com/-B-jY02kd6co/WQOrUebwCwI/AAAAAAAALwI/3kYMpOf0QxYL-DcL6gQFnfvQwL-DPEMUgCLcB/s1600/euphorbia-obesa-razmno%25C5%25BEavanje.jpg" 
    syle = "float:right; margin:20px 0px 15px 15px; cursor:pointer; cursor:hand; border:30" 
    alt="baseball plant" width="510" height="400"">
    
{% endblock %}