<!--this is the blue chalksticks succulent web page-->
{% extends "index.html" %} 
{% block content %}
<!--redirects you home-->
<p style = "font-family: 'Courier New', Courier, monospace;">
    <a href="http://127.0.0.1:5000/succulents"><- succulents</a>
    </p>

<!--header-->
<h1 style = "color:slateblue;font-style: bold; font-family: 'Courier New', Courier, monospace;">
    blue chalksticks</h1>

    <!--paragraph-->
    <p style = "font-style: italic; font-family: 'Courier New', Courier, monospace;">
        (Senecio serpens)
        </p>
    <br>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        origin: South Africa
        </p>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        watering: water when soil is dry to touch
        </p>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        amount of sun: full sun
        </p>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        ideal temperature range: 20-85 F
        </p>


    <img src="https://4.bp.blogspot.com/-aB_IQVWxit4/WuHLswDDYnI/AAAAAAAASM4/Lmu9coSYQToAd63G4zmp1KAbE34AOgAbgCLcBGAs/s1600/fd78b920ebad2c344bf5a1a7a4e2ca15.jpg" 
    syle = "float:right; margin:20px 0px 15px 15px; cursor:pointer; cursor:hand; border:30" 
    alt="blue chalksticks" width="510" height="400"">
    
{% endblock %}