<!--this is the blue column cactus web page-->
{% extends "index.html" %} 
{% block content %}
<!--redirects you home-->
<p style = "font-family: 'Courier New', Courier, monospace;">
    <a href="http://127.0.0.1:5000/cacti"><- cacti</a>
    </p>

<!--header-->
<h1 style = "color:MediumSeaGreen;font-style: bold; font-family: 'Courier New', Courier, monospace;">
    blue column</h1>

    <!--paragraph-->
    <p style = "font-style: italic; font-family: 'Courier New', Courier, monospace;">
        (Pilosocereus pachycladus)
        </p>
    <br>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        origin: Mexico
        </p>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        watering: 1-2 times a week
        </p>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        amount of sun: full sun
        </p>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        ideal temperature range: above 70 F
        </p>


    <img src="https://images.sellbrite.com/production/12301/825/e0f186b8-5146-5e09-a800-e1cde05d1220.jpg" 
    syle = "float:right; margin:20px 0px 15px 15px; cursor:pointer; cursor:hand; border:30" 
    alt="blue column" width="550" height="400"">
    
{% endblock %}