<!--this is the burro's tail succulent web page-->
{% extends "index.html" %} 
{% block content %}
<!--redirects you home-->
<p style = "font-family: 'Courier New', Courier, monospace;">
    <a href="http://127.0.0.1:5000/succulents"><- succulents</a>
    </p>

<!--header-->
<h1 style = "color:slateblue;font-style: bold; font-family: 'Courier New', Courier, monospace;">
    burro's tail</h1>

    <!--paragraph-->
    <p style = "font-style: italic; font-family: 'Courier New', Courier, monospace;">
        (Sedum morganianum)
        </p>
    <br>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        origin: Mexico
        </p>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        watering: once a week
        </p>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        amount of sun: partial sun
        </p>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        ideal temperature range: 65-75 F
        </p>


    <img src="https://external-preview.redd.it/xjzb9CyEVc3HaFaCjn6OjaXEAHEZXf5KmxitET-ZnGc.jpg?auto=webp&s=69912bd10186c89718c22e7edc9183b6f9824f62" 
    syle = "float:right; margin:20px 0px 15px 15px; cursor:pointer; cursor:hand; border:30" 
    alt="burro's tail" width="375" height="400"">
    {% endblock %}   