<!--this is the elephant bush succulent web page-->
{% extends "index.html" %} 
{% block content %}
<!--redirects you home-->
<p style = "font-family: 'Courier New', Courier, monospace;">
    <a href="http://127.0.0.1:5000/succulents"><- succulents</a>
    </p>

<!--header-->
<h1 style = "color:slateblue;font-style: bold; font-family: 'Courier New', Courier, monospace;">
    elephant bush</h1>

    <!--paragraph-->
    <p style = "font-style: italic; font-family: 'Courier New', Courier, monospace;">
        (Portulacaria afra)
        </p>
    <br>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        origin: South Africa
        </p>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        watering: water when soil is dry to touch
        </p>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        amount of sun: full sun
        </p>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        ideal temperature range: 70-80 F
        </p>


    <img src="https://i.pinimg.com/originals/dd/f3/38/ddf3389f3b8b9a2a8b407187771d84e8.jpg" 
    syle = "float:right; margin:20px 0px 15px 15px; cursor:pointer; cursor:hand; border:30" 
    alt="elephant bush" width="510" height="400"">
    
{% endblock %}