<!--this is the golden barrel cactus web page-->
{% extends "index.html" %} 
{% block content %}
<!--redirects you home-->
<p style = "font-family: 'Courier New', Courier, monospace;">
    <a href="http://127.0.0.1:5000/cacti"><- cacti</a>
    </p>

<!--header-->
<h1 style = "color:MediumSeaGreen;font-style: bold; font-family: 'Courier New', Courier, monospace;">
    golden barrel</h1>

    <!--paragraph-->
    <p style = "font-style: italic; font-family: 'Courier New', Courier, monospace;">
        (Echinocactus grusonii)
        </p>
    <br>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        origin: East-Central Mexico
        </p>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        watering: water when soil is dry to touch
        </p>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        amount of sun: full sun/partial shade
        </p>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        ideal temperature range: 50-70 F
        </p>


    <img src="https://i.pinimg.com/originals/1b/7e/a3/1b7ea3da42b599cfe635e02b0195c1d8.jpg" 
    syle = "float:right; margin:20px 0px 15px 15px; cursor:pointer; cursor:hand; border:30" 
    alt="golden barrel" width="600" height="400"">
    
{% endblock %}