<!--this is the succulents web page. it uses the framework of the home page-->
{% extends "index.html" %} 
{% block content %}
<!--redirects you home-->
<p style = "font-family: 'Courier New', Courier, monospace;">
    <a href="http://127.0.0.1:5000/"><- home</a>
</p>

<!--header-->
<h1 style = "color:brown;font-family: 'Courier New', Courier, monospace;">
    under construction</h1>
    

<!--under construction gif-->
<img src="https://images2.minutemediacdn.com/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_728/v1555999902/shape/mentalfloss/construction_7.gif?itok=1UKlaUVK"
 alt="plant gif" width="40%">
{% endblock %}