<!--this is the lobivia arachnacantha cactus web page-->
{% extends "index.html" %} 
{% block content %}
<!--redirects you home-->
<p style = "font-family: 'Courier New', Courier, monospace;">
    <a href="http://127.0.0.1:5000/cacti"><- cacti</a>
    </p>

<!--header-->
<h1 style = "color:MediumSeaGreen;font-style: bold; font-family: 'Courier New', Courier, monospace;">
    lobivia arachnacantha</h1>

    <!--paragraph-->
    <p style = "font-style: italic; font-family: 'Courier New', Courier, monospace;">
        (Echinopsis arachnacantha)
        </p>
    <br>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        origin: Bolivia, Argentina
        </p>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        watering: water when soil is dry to touch
        </p>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        amount of sun: full sun
        </p>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        temperature range: above 45 F
        </p>


    <img src="http://www.magicactus.com/images2/Lobivia%20arachnacantha%201.JPG" 
    syle = "float:right; margin:20px 0px 15px 15px; cursor:pointer; cursor:hand; border:30" 
    alt="lobivia arachnacantha" width="600" height="400"">
    
{% endblock %}