<!--this is the ming thing cactus web page-->
{% extends "index.html" %} 
{% block content %}
<!--redirects you home-->
<p style = "font-family: 'Courier New', Courier, monospace;">
    <a href="http://127.0.0.1:5000/cacti"><- cacti</a>
    </p>

<!--header-->
<h1 style = "color:MediumSeaGreen;font-style: bold; font-family: 'Courier New', Courier, monospace;">
    ming thing</h1>

    <!--paragraph-->
    <p style = "font-style: italic; font-family: 'Courier New', Courier, monospace;">
        (Cereus forbesii monstrose)
        </p>
    <br>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        origin: Bolivia
        </p>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        watering: once a week
        </p>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        amount of sun: full sun/partial shade
        </p>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        ideal temperature range: 70-80 F
        </p>


    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F1c%2Fd0%2F8e%2F1cd08e433ae14b36a8fe0ab3ad31c214.jpg&f=1&nofb=1" 
    syle = "float:right; margin:20px 0px 15px 15px; cursor:pointer; cursor:hand; border:30" 
    alt="ming thing" width="455" height="400"">
    
{% endblock %}