<!--this is the october daphne succulent web page-->
{% extends "index.html" %} 
{% block content %}
<!--redirects you home-->
<p style = "font-family: 'Courier New', Courier, monospace;">
    <a href="http://127.0.0.1:5000/succulents"><- succulents</a>
    </p>

<!--header-->
<h1 style = "color:slateblue;font-style: bold; font-family: 'Courier New', Courier, monospace;">
    october daphne</h1>

    <!--paragraph-->
    <p style = "font-style: italic; font-family: 'Courier New', Courier, monospace;">
        (Sedum sieboldii)
        </p>
    <br>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        origin: Japan
        </p>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        watering: water when soil is dry to touch
        </p>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        amount of sun: full sun
        </p>

    <!--paragraph-->
    <p style = "font-family: 'Courier New', Courier, monospace;">
        ideal temperature range: 55-65 F
        </p>


    <img src="https://i.pinimg.com/736x/cd/1c/af/cd1cafccf9e1d84e744d70348b173db5.jpg" 
    syle = "float:right; margin:20px 0px 15px 15px; cursor:pointer; cursor:hand; border:30" 
    alt="october daphne" width="510" height="400"">
    
{% endblock %}