<!--this is the succulents web page. it uses the framework of the home page-->
{% extends "index.html" %} 
{% block content %}
<!--redirects you home-->
<p style = "font-family: 'Courier New', Courier, monospace;">
    <a href="http://127.0.0.1:5000/"><- home</a>
</p>

<!--header-->
<h1 style = "color:slateblue;font-family: 'Courier New', Courier, monospace;">
    a list of my collection</h1>

    <!--hyperlinks to specific succulents web pages-->
    <a style = "font-family: 'Courier New', Courier, monospace;" 
    href="http://127.0.0.1:5000/succulents/baseballplant">baseball plant</a>
    <br>
    <a style = "font-family: 'Courier New', Courier, monospace;" 
    href="http://127.0.0.1:5000/succulents/motherof1000s">mother of 1000s</a>
    <br>
    <a style = "font-family: 'Courier New', Courier, monospace;" 
    href="http://127.0.0.1:5000/succulents/octoberdaphne">october daphne</a>
    <br>
    <a style = "font-family: 'Courier New', Courier, monospace;" 
    href="http://127.0.0.1:5000/succulents/elephantbush">elephant bush</a>
    <br>
    <a style = "font-family: 'Courier New', Courier, monospace;" 
    href="http://127.0.0.1:5000/succulents/rubyglow">ruby glow</a>
    <br>
    <a style = "font-family: 'Courier New', Courier, monospace;" 
    href="http://127.0.0.1:5000/succulents/bluechalksticks">bluechalksticks</a>
    <br>
    <a style = "font-family: 'Courier New', Courier, monospace;" 
    href="http://127.0.0.1:5000/succulents/tugelacliff-kalanchoe">tugela cliff-kalanchoe</a>
    <br>
    <a style = "font-family: 'Courier New', Courier, monospace;" 
    href="http://127.0.0.1:5000/succulents/burrostail">burro's tail</a>
    <br>
    <a style = "font-family: 'Courier New', Courier, monospace;" 
    href="http://127.0.0.1:5000/succulents/jadeplant">jade plant</a>
    <br>

{% endblock %}